body {
    background-color: rgb(202, 199, 199);
    padding-top: 100px;
}

/* GLOBAL */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.card-deck {
    padding: 0% 20% 2% 10%;
    position: center;
    width: 100%;
}
.info-deck{
    padding: 0% 30% 2% 30%;
    position: center;
    
}

.red{
    width: 500px;
    height: 500px;
}
.w{
    width: 1200px;
    height: 1200px;
}
.crop {
   padding-right: -50px;
}

.carousel {
    height: 700px;
    padding-top: 1%;
}

.sidebar {
    float:right;
    width: 20%;
    margin-top: 10px;
    text-align: left;
}

.header{
    color: white;
    text-align: center;
    min-height: 50px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 300;
}

#home-carousel {
    padding-top: 50px;
}

.footer{
    margin: auto;
    text-align: center;
    color: white;
    background-color: black;
    min-height: 200px;
    position: absolute; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.footer-left {
    float: left;
    width: 55%;
}

.footer-center {
    float: center;
    width: 50%;
    text-align: center;
}

.footer-right {
   float: right;
    width: 25%;
}

.footer-logo {
    width: 100px;
    height: 100px;
}

#home-nav-container {
    padding-left: 10%;
}

#products-nav-container {
    grid-column: 1/4;
    padding-left: 10%;
}






